@import '../../App';


.toolkit-cookie-warning {
  background: var(--color-white);
  border-top: 0.4rem solid var(--color-grey);
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  z-index: 100;

  .container {
    display: flex;
  }
}

.toolkit-cookie-warning-close {
  background: 0;
  border: 1px solid var(--color-grey);
  border-radius: 1rem;
  font-family: inherit;
  font-size: inherit;
  padding: 0 0.5rem;
  width: 6rem;

  @include gte-medium-screen {
    width: auto;
  }
}

.toolkit-cookie-warning-text {
  flex: 1;
  margin-right: 1rem;

  @include gte-medium-screen {
    margin-right: 2rem;
  }
}
