@import '../../../App';


.tool-swatch-list {
  display: flex;
  flex-wrap: wrap;

  @include lte-small-screen {
    justify-content: center;
  }
}

.tool-swatch {}

.tool-swatch-button {
  background-clip: padding-box;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: inherit;
  height: 4.4rem;
  margin: 0.4rem;
  opacity: 0.5;
  padding: 0;
  position: relative;
  width: 4.4rem;

  &--selected {
    opacity: 1;
  }
}

.tool-swatch-label {
  left: -9999px;
  position: absolute;
  top: 0;
}

.tool-swatch-color-1 { background: var(--color-1); }
.tool-swatch-color-1-color-2 { background-image: linear-gradient(to right, var(--color-1) 50%, var(--color-2) 50%) }
.tool-swatch-color-1-color-3 { background-image: linear-gradient(to right, var(--color-1) 50%, var(--color-3) 50%) }
.tool-swatch-color-1-color-4 { background-image: linear-gradient(to right, var(--color-1) 50%, var(--color-4) 50%) }
.tool-swatch-color-1-color-5 { background-image: linear-gradient(to right, var(--color-1) 50%, var(--color-5) 50%) }
.tool-swatch-color-1-color-black { background-image: linear-gradient(to right, var(--color-1) 50%, var(--color-black) 50%) }
.tool-swatch-color-1-color-white { background-image: linear-gradient(to right, var(--color-1) 50%, var(--color-white) 50%) }

.tool-swatch-color-2 { background: var(--color-2); }
.tool-swatch-color-2-color-1 { background-image: linear-gradient(to right, var(--color-2) 50%, var(--color-1) 50%) }
.tool-swatch-color-2-color-3 { background-image: linear-gradient(to right, var(--color-2) 50%, var(--color-3) 50%) }
.tool-swatch-color-2-color-4 { background-image: linear-gradient(to right, var(--color-2) 50%, var(--color-4) 50%) }
.tool-swatch-color-2-color-5 { background-image: linear-gradient(to right, var(--color-2) 50%, var(--color-5) 50%) }
.tool-swatch-color-2-color-black { background-image: linear-gradient(to right, var(--color-2) 50%, var(--color-black) 50%) }
.tool-swatch-color-2-color-white { background-image: linear-gradient(to right, var(--color-2) 50%, var(--color-white) 50%) }

.tool-swatch-color-3 { background: var(--color-3); }
.tool-swatch-color-3-color-1 { background-image: linear-gradient(to right, var(--color-3) 50%, var(--color-1) 50%) }
.tool-swatch-color-3-color-2 { background-image: linear-gradient(to right, var(--color-3) 50%, var(--color-2) 50%) }
.tool-swatch-color-3-color-4 { background-image: linear-gradient(to right, var(--color-3) 50%, var(--color-4) 50%) }
.tool-swatch-color-3-color-5 { background-image: linear-gradient(to right, var(--color-3) 50%, var(--color-5) 50%) }
.tool-swatch-color-3-color-black { background-image: linear-gradient(to right, var(--color-3) 50%, var(--color-black) 50%) }
.tool-swatch-color-3-color-white { background-image: linear-gradient(to right, var(--color-3) 50%, var(--color-white) 50%) }

.tool-swatch-color-4 { background: var(--color-4); }
.tool-swatch-color-4-color-1 { background-image: linear-gradient(to right, var(--color-4) 50%, var(--color-1) 50%) }
.tool-swatch-color-4-color-2 { background-image: linear-gradient(to right, var(--color-4) 50%, var(--color-2) 50%) }
.tool-swatch-color-4-color-3 { background-image: linear-gradient(to right, var(--color-4) 50%, var(--color-3) 50%) }
.tool-swatch-color-4-color-5 { background-image: linear-gradient(to right, var(--color-4) 50%, var(--color-5) 50%) }
.tool-swatch-color-4-color-black { background-image: linear-gradient(to right, var(--color-4) 50%, var(--color-black) 50%) }
.tool-swatch-color-4-color-white { background-image: linear-gradient(to right, var(--color-4) 50%, var(--color-white) 50%) }

.tool-swatch-color-5 { background: var(--color-5); }
.tool-swatch-color-5-color-1 { background-image: linear-gradient(to right, var(--color-5) 50%, var(--color-1) 50%) }
.tool-swatch-color-5-color-2 { background-image: linear-gradient(to right, var(--color-5) 50%, var(--color-2) 50%) }
.tool-swatch-color-5-color-3 { background-image: linear-gradient(to right, var(--color-5) 50%, var(--color-3) 50%) }
.tool-swatch-color-5-color-4 { background-image: linear-gradient(to right, var(--color-5) 50%, var(--color-4) 50%) }
.tool-swatch-color-5-color-black { background-image: linear-gradient(to right, var(--color-5) 50%, var(--color-black) 50%) }
.tool-swatch-color-5-color-white { background-image: linear-gradient(to right, var(--color-5) 50%, var(--color-white) 50%) }

.tool-swatch-color-black { background: var(--color-black); }
.tool-swatch-color-black-color-1 { background-image: linear-gradient(to right, var(--color-black) 50%, var(--color-1) 50%) }
.tool-swatch-color-black-color-2 { background-image: linear-gradient(to right, var(--color-black) 50%, var(--color-2) 50%) }
.tool-swatch-color-black-color-3 { background-image: linear-gradient(to right, var(--color-black) 50%, var(--color-3) 50%) }
.tool-swatch-color-black-color-4 { background-image: linear-gradient(to right, var(--color-black) 50%, var(--color-4) 50%) }
.tool-swatch-color-black-color-5 { background-image: linear-gradient(to right, var(--color-black) 50%, var(--color-5) 50%) }
.tool-swatch-color-black-color-white { background-image: linear-gradient(to right, var(--color-black) 50%, var(--color-white) 50%) }

.tool-swatch-color-white { background: var(--color-white); }
.tool-swatch-color-white-color-1 { background-image: linear-gradient(to right, var(--color-white) 50%, var(--color-1) 50%) }
.tool-swatch-color-white-color-2 { background-image: linear-gradient(to right, var(--color-white) 50%, var(--color-2) 50%) }
.tool-swatch-color-white-color-3 { background-image: linear-gradient(to right, var(--color-white) 50%, var(--color-3) 50%) }
.tool-swatch-color-white-color-4 { background-image: linear-gradient(to right, var(--color-white) 50%, var(--color-4) 50%) }
.tool-swatch-color-white-color-5 { background-image: linear-gradient(to right, var(--color-white) 50%, var(--color-5) 50%) }
.tool-swatch-color-white-color-black { background-image: linear-gradient(to right, var(--color-white) 50%, var(--color-black) 50%) }
